$Button: '.ema-button';
$Grid: '.ema-grid';
$Skeleton: '.ema-skeleton';

$Categories: '.ema-categories';
$Footer: '.ema-footer';
$Menu: '.ema-menu';
$MovieItem: '.ema-movie-item';
$Navbar: '.ema-navbar';
$Search: '.ema-search';

$AboutPage: '.ema-about-page';
$FavoritesPage: '.ema-favorites-page';
$MovieDetails: '.ema-movie-details';
$MovieDetailsPage: '.ema-movies-details-page';
$NoResultsPage: '.ema-no-results-page';
$SearchResultsPage: '.ema-search-results-page';
