@import '../../../assets/styles/variables.scss';

#{$Categories} {
	background: #f1f1f1;
	border: 1px solid $color-black;
	box-shadow: 0 0.8rem 1.6rem 0 rgba($color-black, 0.2);
	display: none;
	height: 35rem;
	min-width: 16rem;
	overflow: auto;
	position: absolute;
	top: 2.2rem;
	z-index: 60;

	@media (max-width: 600px) {
		background: none;
		border: none;
		box-shadow: none;
		display: block;
		height: auto;
		left: 3.5rem;
		position: relative;
		top: 0;
	}

	&__link {
		color: $color-black;
		display: block;
		padding: 0.8rem 1.6rem;
		text-align: left;
		text-decoration: none;

		@media (max-width: 600px) {
			font-size: 2rem;
			padding: 0.6rem 1.6rem;
		}

		&:hover {
			background-color: #f1f1f1;
			text-decoration: underline;
		}

		&--selected {
			color: $primary-color;
			text-decoration: underline;

			@media (max-width: 600px) {
				text-decoration: none;
			}
		}
	}
}

// @import '../../../assets/styles/variables.scss';

// #{$Categories} {
// 	background: none;
// 	border: none;
// 	box-shadow: none;
// 	display: block;
// 	height: auto;
// 	left: 3.5rem;
// 	overflow: auto;
// 	position: relative;
// 	top: 0;

// 	@include breakpoint(medium) {
// 		background: #f1f1f1;
// 		border: 1px solid $color-black;
// 		box-shadow: 0 0.8rem 1.6rem 0 rgba($color-black, 0.2);
// 		display: none;
// 		height: 35rem;
// 		min-width: 16rem;
// 		position: absolute;
// 		top: 2.2rem;
// 		z-index: 60;
// 	}

// 	&__link {
// 		// color: $color-black;
// 		// font-size: 2rem;
// 		// padding: 0.6rem 1.6rem;
// 		// text-align: left;
// 		// text-decoration: none;

// 		// @include breakpoint(medium) {
// 		// 	display: block;
// 		// 	padding: 0.8rem 1.6rem;
// 		// }

// 		color: $color-black;
// 		display: block;
// 		padding: 0.8rem 1.6rem;
// 		text-align: left;
// 		text-decoration: none;

// 		@media (max-width: 600px) {
// 			font-size: 2rem;
// 			padding: 0.6rem 1.6rem;
// 		}

// 		&:hover {
// 			background-color: #f1f1f1;
// 			text-decoration: underline;
// 		}

// 		&--selected {
// 			color: $primary-color;
// 			text-decoration: underline;
// 		}
// 	}
// }
