@import '../../../assets/styles/variables.scss';

#{$Button} {
	align-items: center;
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	display: flex;
	font: inherit;
	justify-content: center;
	outline: inherit;
	padding: 0;
	text-transform: uppercase;
	transition: all 0.15s;
	width: fit-content;

	svg {
		display: block;
	}

	&__icon-container {
		display: flex;
	}
}
